/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    background-image: url('img/background.png'); /* Cambia 'background.png' por tu imagen */
    background-size: cover;  /* Asegura que la imagen de fondo cubra toda la pantalla */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* Capa de transparencia */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro con 60% de transparencia */
    z-index: -1; /* Se asegura de que esté detrás de todos los elementos */
}

header {
    text-align: center;
    padding: 20px;
    background-color: #f0a500;
    color: white;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

p {
    margin: 0;
    font-size: 1.2rem;
}

/* Sección principal */
.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 100px); /* Ajuste para ocupar el 100% del viewport menos el header */
}

.content {
    text-align: center;
    position: relative;
}

/* Título y botón de confirmación */
h2 {
    margin: 20px 0; /* Espacio alrededor del título */
}

/* Reducción del tamaño de la imagen */
.invitation-img {
    max-width: 50%; /* Cambiar a 50% o ajustar según sea necesario */
    height: auto;
    margin-top: 20px; /* Espacio por encima de la imagen */
}

/* Estilo del botón */
.confirm-btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007BFF;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    margin: 20px auto; /* Espacio en la parte superior e inferior */
    text-align: center; /* Asegura que el texto esté centrado */
}

.confirm-btn:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #f0a500;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
