/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #f0a500;
    color: white;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

p {
    margin: 0;
    font-size: 1.2rem;
}

/* Sección principal */
.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 100px); /* Ajuste para ocupar el 100% del viewport menos el header */
    text-align: center; /* Centra el texto dentro de la sección principal */
}

.content {
    position: relative;
}

/* Reducción del tamaño de la imagen */
.invitation-img {
    max-width: 30%; /* Ajustado a un 30% para que sea más pequeña */
    height: auto;
    margin: 20px 0; /* Espacio por encima y por debajo de la imagen */
}

/* Estilo del botón */
.confirm-btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007BFF;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    margin: 20px 0; /* Espacio en la parte superior e inferior */
}

.confirm-btn:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #f0a500;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
